button {
  background-color: var(--accent);
  color: var(--primary);
  font-size: 1.5rem;
  border: 0px;
  padding: 0.75rem 0.75rem;
  margin-top: 1rem;
  transition: var(--anim);
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-hover);
  box-shadow: -1px 6px 33px -7px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: -1px 6px 33px -7px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -1px 6px 33px -7px rgba(0, 0, 0, 0.57);
}
