#naszemenu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  min-width: 300px;
  min-height: 900px;
}

.sekcja-produkt贸w {
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  width: 50%;
  padding: 0rem 0rem 4rem 0rem;
  border-bottom: 0.4rem var(--secondary) dotted;
}

.lista-produkt贸w {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-photo {
  height: 10rem;
  margin-bottom: 2rem;
}

.menu-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ceny {
  text-align: right;
}

p {
  font-size: 2rem;
}

.ceny p {
  font-weight: 700;
}

.dots {
  color: var(--secondary);
  opacity: 0.8;
  padding: 4rem 0rem 2rem 0rem;
}

@media (max-width: 1200px) {
  .sekcja-produkt贸w {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .sekcja-produkt贸w {
    width: 80%;
  }
}
