nav {
  display: flex;
  flex-direction: row;
  height: 5rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  color: var(--primary);
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  font-size: 1.2rem;
  font-weight: 700;
  list-style: none;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: var(--primary);
  position: relative;
}

nav a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid var(--primary);
  transition: var(--anim);
  transform: translate3d(0, 5px, 0);
}

nav a:hover:after {
  width: 100%;
}

.burger {
  display: none;
}

.burger i {
  font-size: 2rem;
}

@media (max-width: 768px) {
  nav {
    justify-content: flex-end;
  }

  nav a {
    color: var(--secondary);
  }

  nav a:after {
    border-bottom: 2px solid var(--secondary);
  }

  nav a:after {
    border-bottom: 0px solid var(--primary);
  }

  ul {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    width: 100%;
    min-width: 300px;
    height: calc(500px - 5rem);
    min-height: 300px;
    top: 5rem;
    left: -100%;
    transition: var(--anim);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  ul.active {
    left: 0;
  }

  li {
    font-size: 3rem;
    font-weight: 700;
    list-style: none;
    padding: 0.75vh 0rem;
  }

  .burger {
    display: block;
    margin-right: 1.9rem;
    cursor: pointer;
  }

  @media (max-width: 500px) {
    ul {
      height: calc(400px - 5rem);
      min-width: 300px;
      min-height: 300px;
    }
    li {
      font-size: 2.5rem;
      font-weight: 700;
      list-style: none;
      padding: 0.5vh 0rem;
    }
  }
}
