@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");

:root {
  --primary: #f3f4ed;
  --secondary: #424642;
  --tertiary: #536162;
  --accent: #bb8356;
  --accent-hover: #e6b186;
  --anim: 0.5s ease-out all;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--primary);
  background-color: var(--secondary);
}
